<h2><%= @user.name %>のページ編集</h2>
<br>
<!-- userという変数を使用する -->
<%= render 'form', user: @user %>

<br>
<br>
<%= link_to 'マイページに戻る', user_path(current_user.id) , class: 'btn btn-light' %>
<%= link_to '管理画面に戻る', admin_users_path , class: 'btn btn-dark' %>
